*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
    overflow-y: auto;
}
.container{
    height:100%;
    display: flex;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    align-items: center;
    z-index: -1;
}
h1{
    position: absolute;
    top: 10rem;
    color: white;
    transform: scale(6);
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#backgroundImage{
    transform: translateZ(-40px) scale(5.1);
}
#foregroundImage{
    transform: translateZ(-20px) scale(3);
}
#backgroundImage,#foregroundImage{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}
.bg{
    height: 500px;
    position: relative;
    width: 100%;

}
.bg1{
    background-image: url(sport-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg2{
    background-image: url(sport-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg3{
    background-image: url(sport-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.secheading{

    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin:5rem 0;
}
.desc{
    position: absolute;
    top: 12rem;
    left: 20rem;
    font-size: 4.4rem;
    background: white;
    color: black;
    padding: 0.8rem 1rem;
    transform: translateX(41px);
}